@model ProjetoNADD.Models.Disciplina
    <div id="cabecalho">
        <h5>Visualizar Disciplina</h5>
    </div>
<div id="conteudo_create">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome_Disciplina)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome_Disciplina)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Periodo_Disciplina)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Periodo_Disciplina)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ano_Disciplina)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ano_Disciplina)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Curso)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Curso.Nome_Curso)
            </dd>
        </dl>
    </div>
</div>