@model ProjetoNADD.Models.Usuario

<div id="cabecalho">
    <h5>Excluir Usuário</h5>
</div>

<div id="conteudo_create">
    <h6>Tem certeza que deseja excluir esse Usuário?</h6>
    <input type="hidden" value="@Html.DisplayFor(model => model.Id)" id="Id_Usuario" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_User)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
