@model ProjetoNADD.Models.Usuario

<div id="cabecalho">
    <h5>Visualizar Usuário</h5>
</div>
<div id="conteudo_create">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_User)
        </dd>
        <dt>
            Tipo de Usuário
        </dt>
        <dd>
            @ViewBag.Roles
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
