@model ProjetoNADD.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login_Usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login_Usuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Usuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Senha_Usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Senha_Usuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Usuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
