@model ProjetoNADD.Models.Avaliacao

<div id="cabecalho">
    <h5>Excluir Avaliação</h5>
</div>
<div id="conteudo_create">
    <h6>Tem certeza que deseja excluir essa Avaliação?</h6>
    <div>
        <dl class="dl-horizontal">
            <input type="hidden" value="@Html.DisplayFor(model => model.Id_Avaliacao)" id="Id_Avaliacao" />
            <dt>
                @Html.DisplayNameFor(model => model.Nome_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ValorExplicitoProva_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ValorExplicitoProva_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ValorExplicitoQuestoes_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ValorExplicitoQuestoes_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SomatorioQuestoes_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SomatorioQuestoes_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Referencias_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Referencias_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.QuestoesMEeD_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.QuestoesMEeD_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ValorProva_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ValorProva_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NumeroQuestoes_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumeroQuestoes_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EquilibrioValorQuestoes_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EquilibrioValorQuestoes_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Diversificacao_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Diversificacao_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Contextualidade_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contextualidade_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Clareza_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Clareza_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Complexidade_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Complexidade_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Observacoes_Avaliacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Observacoes_Avaliacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Disciplina)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Disciplina.Nome_Disciplina)
            </dd>
        </dl>
    </div>
</div>