@model ProjetoNADD.Models.Curso
<div id="cabecalho">
    <h5>Excluir Curso</h5>
</div>
<div id="conteudo_create">
    <h6>Tem certeza que deseja excluir esse Curso?</h6>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" value="@Html.DisplayFor(model => model.Id_Curso)" id="Id_Curso" />
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Curso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Curso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area.Nome_Area)
        </dd>
    </dl>
</div>
