@model IEnumerable<ProjetoNADD.Models.Area>

@{
    ViewData["Title"] = "Index";
}

<h2>Áreas</h2>

<p>
    <a asp-action="Create">Criar Área</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Area)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Area">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Area">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Area">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
